beautifulsoup4==4.9.3
boto3==1.17.44
configparser==5.0.2
filelock==3.0.12
keyring==23.0.1
lxml==4.6.3
Pillow==8.2.0
requests==2.25.1
six==1.15.0
tabulate==0.8.9
tzlocal==2.1
awscli==1.19.44
cryptography==3.4.7