beautifulsoup4
boto3
configparser
lxml
Pillow
requests
six
tabulate


import requests
from PIL import Image

captcha_url = "https://cevo.com.au/img/logo.png"

with requests.get(captcha_url) as url:
    with io.BytesIO(url.content) as f:
        Image.open(f).show()